body{
    margin: 0em;
    top: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:whitesmoke;
    
}

.contenedor_ejercicio{
    width: 100%;
    margin: 5vh 0vh;
    padding: 0vh;
    display: flex;
    background-color: white;
}

.contenedor_ejercicio div{
    width: 90vh;
    height: 90vh;
    margin: 0vh;
    display: flex;
    outline: 2px solid black; 
}

.contenedor_ejercicio h2{
    width: 50%;
    height: 90vh;
    margin: 0em;
    padding: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_ejercicio div div{
    width: 30vh;
    height: 30vh;
    margin: 0em;
    font-size: 2em;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0px solid black;
    
}

.caja_1{
    background-color: red;
}
.caja_2{
    background-color: blue;
}
.caja_3{
    background-color: green;
}

.contenedor_ejercicio .ejercicio_1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contenedor_ejercicio .ejercicio_2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

.contenedor_ejercicio .ejercicio_3{
    width: 100%;
    height: 30vh;
    margin: 30vh 0vh;
    display: flex;
    justify-content:space-between;
}

